/* start: common css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.section-title {
    text-align: center;
}

.section-title .main-title {
    font-size: 35px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}

.section-title .para {
    max-width: 570px;
    margin-inline: auto;
    line-height: 1.7rem;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
/* end: common css */

/* hero start */
.herosection {
    background: url(../images/banner.png) center center no-repeat;
    height: 700px;
    background-size: cover;
    /* background-attachment: fixed; */
    position: relative;
    z-index: 1;
    -webkit-clip-path: polygon(0% 0%, 0 80%, 100% 69%, 100% 0%);
    clip-path: polygon(0% 0%, 0 100%, 100% 89%, 100% 0%);
}

.herosection::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: -1;
}

/* hero end */

/* start header */

header {
    border-bottom: 1px rgba(254, 199, 0, 0.2) solid;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

header .container nav ul {
    display: flex;
    gap: 30px;
}

header .container nav ul li a {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    transition: all .2s linear;
    position: relative;
}

header .container nav ul li a:hover {
    color: #fec600;
}

header .container nav ul li a::after {
    content: '';
    position: absolute;
    top: 352%;
    right: 0;
    height: 3px;
    width: 0;
    background-color: #fec600;
    transition: all .3s linear;
}

header .container nav ul li a:hover::after {
    width: 100%;
}

/* end header */

/* start banner data */
.main-banner .container {
    padding-top: 135px;
    text-align: center;
}

.main-banner .container .banner-data h4 {
    font-weight: 300;
    font-size: 36px;
    color: #ffffff;
}

.main-banner .container .banner-data h2 {
    font-size: 55px;
    text-transform: uppercase;
    color: #fec600;
    font-weight: 700;
}

.main-banner .container .banner-data p {
    margin: 0 auto;
    font-size: 14px;
    color: #f1f1f1;
    font-weight: 400;
    max-width: 530px;
    padding-top: 30px;
    line-height: 24px;
}

.main-banner .container .banner-button ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 60px;
}

.main-banner .container .banner-button ul li {
    padding-top: 15px;
    text-align: center;
}

.main-banner .container .banner-button ul li a {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 0px;
    border: 1px white solid;
    transition: all .3s linear;
    height: 50px;
    width: 130px;
}
.main-banner .container .banner-button ul li a:hover {
    background-color: #fec600;
    color: #020202;
    border: 1px transparent solid;
}
.main-banner .bnsliderbutton ul {
    display: flex;
    justify-content: space-between;
    padding: 0 80px 0 60px;
    position: relative;
}
.main-banner .bnsliderbutton ul li a {
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    top: 250px;
    transition: all .3s linear;
}
.main-banner .bnsliderbutton ul li a:hover {
    color: #fec600;
}
/* end banner data */

/* -------about us starts here-------- */
#aboutUs .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutUs .container .section-title {
    margin-bottom: 60px;
}
#aboutUs .container .row .absimg {
    padding: 25px;
    margin: 30px;
    border: 1px black solid;
    border-radius: 50%;
}
#aboutUs .container .row .box {
    width: 375px;
    background-color: #ededed;
    padding: 40px 35px;
    position: relative;
}
#aboutUs .container .row .box::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 15px solid #ededed;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
}
#aboutUs .container .row .box-2::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -87px;
    left: auto;
    transform: translateY(-50%) rotate(-90deg);
}
#aboutUs .container .row .box-3::after {
    content: '';
    position: absolute;
    top: auto;
    left: -15px;
    bottom: 43%;
    transform: translateX(-50%);
    border-top: 15px solid transparent;
    border-right: 15px solid #ededed;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
}
#aboutUs .container .row .box-4::after {
    content: '';
    top: -13%;
    left: 50%;
    bottom: auto;
    transform: translateX(-50%) rotate(-180deg);
}
#aboutUs .container .row .box::before {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #353535;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}
#aboutUs .container .row .box-2::before {
    content: '';
    top: 50%;
    bottom: auto;
    left: auto;
    right: -40px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #353535;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}
#aboutUs .container .row .box-3::before {
    content: '';
    top: 50%;
    bottom: auto;
    left: -40px;
    right: auto;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #353535;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}
#aboutUs .container .row .box-4::before {
    content: '';
    top: 50%;
    top: -40px;
    bottom: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #353535;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}
#aboutUs .container .row .box:hover::before {
    background-color: #fec600;
}
#aboutUs .container .row .absimg .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#aboutUs .container .row .absimg .img {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
#aboutUs .container .row .absimg .img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    border-radius: 50%;
    opacity: .3;
}
#aboutUs .container .row .box h5 {
    color: #111111;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}
#aboutUs .container .row .box p {
    font-size: 14px;
    line-height: 24px;
    color: #353535;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
/* -------about us end-------- */

/* our potfolio start*/
#our_potfolio {
    background: url(../images/banner_portfolio.png) center center no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    background-attachment: fixed;
    clip-path: polygon(0 7%, 100% 0, 100% 94%, 0 100%);
}
#our_potfolio::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    z-index: -1;
}
#our_potfolio .potfolioimg {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 100px;
}
#our_potfolio .potfolioimg .smallimg {
    width: 270px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#our_potfolio .potfolioimg .bigimg {
    width: 270px;
    height: 370px;
    overflow: hidden;
    position: relative;
}
#our_potfolio .potfolioimg .smallimg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 300px;
}
#our_potfolio .potfolioimg .bigimg img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 270px;
    height: 370px;
}
#our_potfolio .potfolioimg :nth-child(5) {
    bottom: 70px;
}
#our_potfolio .potfolioimg :nth-child(7) {
    bottom: 70px;
}
#our_potfolio .container .section-title {
    color: white;
    padding-top: 100px;
    padding-bottom: 65px;
}
/* our potfolio end*/

/* Our services start */
#our-services .container .all-row {
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    z-index: 1;
    padding: 70px 0;
}
#our-services .container .all-row::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border-right: 1px dashed #000000;
    height: 100%;
    z-index: -1;
}
#our-services .container .all-row .up-button,
#our-services .container .all-row .down-button {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: white;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border: 1px solid black;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-left: 1px;
    transition: all .2s linear;
}
#our-services .container .all-row .down-button {
    top: auto;
    bottom: 0;
    padding-top: 5px;
}
#our-services .container .all-row .up-button:hover,
#our-services .container .all-row .down-button:hover {
    background-color: #fec600;
    border-color: transparent;
}
#our-services .container .all-row .row {
    display: flex;
    gap: 80px;
    justify-content: flex-end;
    align-items: center;
}
#our-services .container .all-row .row:nth-child(even) {
    justify-content: flex-start;
}
#our-services .container .all-row .row h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: #111111;
    font-weight: 600;
}
#our-services .container .all-row .row .icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #ededed;
    padding: 16px
}
#our-services .container .all-row .row:hover .icon {
    background-color: #fec600;
    transition: all .3s ease-in-out;
}
#our-services .container .all-row .row .icon img {
    height: 100%;
}
#our-services .container .all-row .row .service-info {
    width: 470px;
    padding: 55px 30px;
    background-color: #ededed;
    position: relative;
}
#our-services .container .all-row .row .service-info::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    border-top: 15px solid transparent;
    border-right: 15px solid #ededed;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
}
#our-services .container .all-row .row .service-info:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: auto;
    right: -30px;
    transform: translateY(-50%);
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ededed;
}
/* Our services end */

/* our services part 2 start */
#os-pt {
    background: url(../images/os-banner.png) center center no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    background-attachment: fixed;
    padding-top: 150px;
    height: 1000px;
    clip-path: polygon(0 7%, 100% 0, 100% 94%, 0 100%);
}
#os-pt::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    z-index: -1;
}
#os-pt .container .all-row {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
    padding: 70px 0;
}
#os-pt .container .all-row .row {
    display: flex;
    gap: 80px;
    align-items: center;
}
#os-pt .container .all-row::after {
    content: '';
    position: absolute;
    left: 4.5%;
    top: 0;
    border-right: 1px dashed #ffffff;
    height: 100%;
    z-index: 1;
}
#os-pt .container .all-row .row .mem {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #cbcbcb;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#os-pt .container .all-row .row .mem::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.6;
}
#os-pt .container .all-row :nth-of-type(2).row .mem::after {
    content: '';
    background-color: transparent;
}
#os-pt .container .all-row .row .mem img {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: -1;
}
#os-pt .container .all-row :nth-of-type(2).row .mem {
    background-color: #fec600;
}
#os-pt .container .all-row :nth-of-type(2).row .mem img {
    right: auto;
    left: -8px;
}
#os-pt .container .all-row .row .review {
    background-color: #f1f1f1;
    padding: 50px 30px;
    position: relative;
}
#os-pt .container .all-row .row .review::after {
    content: '';
    position: absolute;
    right: auto;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    border-top: 20px solid transparent;
    border-right: 20px solid #f1f1f1;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
}
#os-pt .container .all-row .row .review h4 {
    font-size: 20px;
    color: #222222;
    font-weight: 500;
}
#os-pt .container .all-row .row .review i {
    font-size: 16px;
    color: #fec600;
}
#os-pt .container .all-row .row .review h5 {
    font-size: 16px;
    color: #353535;
}
#os-pt .container .all-row .row .review p {
    width: 770px;
    height: 90px;
    font-size: 14px;
    line-height: 24px;
    color: #353535;
    font-weight: 400;
    font-family: "Open Sans";
    padding-top: 30px;
}
#os-pt .container .all-row .row .review h6 {
    font-size: 20px;
    line-height: 24px;
    color: #353535;
    font-family: 'The Nautigal', cursive;
    text-align: right;
    padding-top: 30px;
}
#os-pt .container .all-row .up-button,
#os-pt .container .all-row .down-button {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: white;
    left: 2.9%;
    top: -30px;
    transform: translateX(-2.9%);
    border: 1px solid black;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-left: 1px;
    transition: all .2s linear;
    z-index: 5;
}
#os-pt .container .all-row .down-button {
    top: auto;
    bottom: -30px;
    padding-top: 5px;
}
#os-pt .container .all-row .up-button:hover,
#os-pt .container .all-row .down-button:hover {
    background-color: #fec600;
    border-color: transparent;
}
/* our services part 2 end */

/* Price start */
#pricepenal .container .allprice {
    display: flex;
    justify-content: center;
    gap: 30px;
}
#pricepenal .container .mainbox {
    position: relative;
    width: 370px;
    height: 450px;
    margin-top: 60px;
}
#pricepenal .container .mainbox .planename {
    height: 140px;
    width: 370px;
    background-color: #353535;
    clip-path: polygon(100% 70%, 100% 0%, 0 0, 0 100%);
    transition: all .2s linear;
}
#pricepenal .container .mainbox .planename h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}
#pricepenal .container .mainbox .price-bg {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fffefe;
    border: 2px solid #353535;
    border-radius: 50%;
    top: 18%;
    left: 36%;
    transition: all .2s linear;
}
#pricepenal .container .mainbox .price-bg .price {
    height: 90px;
    width: 90px;
    margin: 3px auto;
    background-color: #353535;
    border-radius: 50%;
    top: 5%;
    left: 5%;
    transition: all .2s linear;
}
#pricepenal .container .mainbox .price h5 {
    text-align: center;
    font-size: 28px;
    line-height: 25px;
    color: #ffffff;
    padding-top: 25px;
}
#pricepenal .container .mainbox .price p {
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}
#pricepenal .container .mainbox .details {
    margin: 0 111px;
}
#pricepenal .container .mainbox .details p {
    width: 138px;
    height: 176px;
    font-size: 14px;
    line-height: 40px;
    color: #353535;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
}
#pricepenal .container .mainbox .join {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #353535;
    clip-path: polygon(100% 100%, 100% 0%, 0 60%, 0 100%);
    transition: all .2s linear;
}
#pricepenal .container .mainbox .join a {
    font-size: 16px;
    position: relative;
    top: 62%;
    left: 37%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    text-align: center;
}
#pricepenal .container .mainbox:hover {
    box-shadow: 1px 1px 10px 1px black;
    color: black;
}
#pricepenal .container .mainbox:hover .price-bg {
    border: 2px solid #fec600;
}
#pricepenal .container .mainbox:hover .planename,
#pricepenal .container .mainbox:hover .price,
#pricepenal .container .mainbox:hover .join {
    background-color: #fec600;
}
#pricepenal .container .mainbox:hover  .price  h5,
#pricepenal .container .mainbox:hover  .price  p,
#pricepenal .container .mainbox:hover  .join a,
#pricepenal .container .mainbox:hover .planename h4{
    color: #111111;
    font-weight: 600;
}

/* Price end */

/* live status start*/
#live-status {
    background: url(../images/banner_portfolio.png) center center no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    background-attachment: fixed;
    clip-path: polygon(0% 25%, 100% 0%, 100% 60%, 0% 86%);
    height: 280px;
    margin-top: 10px;
}
#live-status::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    z-index: -1;
}
#live-status .live_feed {
    display: flex;
    justify-content: center;
    gap: 30px;
    transform: rotate(-3deg);
    padding-top: 53px;
}
#live-status .live_feed .status {
    width: 210px;
    height: 130px;
    border: 1px solid #ffffff;
}
#live-status .live_feed .status h6 {
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    max-width: 150px;
    margin: 20px auto;
    transform: rotate(3deg);
}
#live-status .live_feed .status p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    transform: rotate(3deg);
}
/* live status end*/

/* our team start*/
#our-team {
    height: 560px;
}
#our-team .team-mem {
    display: flex;
    justify-content: center;
    gap: 30px;
}
#our-team .container .section-title {
    padding-bottom: 60px;
}
#our-team .team-mem .member {
    height: 350px;
    width: 270px;
    gap: 30px;
    background-color: #f1f1f1;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    position: relative;
    border: 1px solid #dddddd;
    transition: all .2s linear;
}
#our-team .team-mem .member:hover {
    height: 400px;
}
#our-team .team-mem .member .slider .fa-search-plus {
    padding: 10px;
    background: #ffffff;
    border-radius: 50%;
    color: #353535;
    font-size: 18px;
    margin-top: 120px;
}
#our-team .team-mem .member .slider {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background-color: rgba(254, 199, 0, 0.50);
    transition: all .3s linear;
}
#our-team .team-mem .member:hover .slider {
    left: 0;
}
#our-team .team-mem .member .mem-det {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    clip-path: polygon(0 14%, 0% 100%, 100% 100%, 100% 0);
    transition: all .2s linear;
}
#our-team .team-mem .member:hover .mem-det {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 170px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    clip-path: polygon(0 10%, 0% 100%, 100% 100%, 100% 0);
}
#our-team .team-mem .member .mem-det h5 {
    font-size: 20px;
    color: #111111;
    font-weight: 500;
    padding-bottom: 10px;
}
#our-team .team-mem .member .mem-det p {
    font-size: 16px;
    color: #222222;
}
#our-team .team-mem .member:hover .icon {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
}
#our-team .team-mem .member .icon li a i {
    color: black;
    font-size: 18px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    padding-top: 8px;
    transition: all .2s ease-in-out;
}
#our-team .team-mem .member .icon li a i:hover {
    background-color: #fec600;
    border: 1px solid transparent;
}
/* our team end */

/* Our Partner start */
#our-partners {
    height: 280px;
    background-color: #f1f1f1;
    clip-path: polygon(0% 35%, 100% 10%, 100% 65%, 0% 100%);
}
#our-partners .container .all-partner {
    display: flex;
    padding-top: 85px;
    justify-content: center;
    gap: 25px;
    transform: rotate(-3deg);
}
#our-partners .container .all-partner a .partner-company {
    height: 105px;
    width: 230px;
    background-color: #f1f1f1;
    border: 1px solid #cccccc;
    transition: all .2s linear;
    cursor: pointer;
}
#our-partners .container .all-partner a .partner-company:hover {
    border: 1px solid #fec600;
}
#our-partners .container .all-partner a .partner-company img {
    transform: rotate(3deg);
    margin: 33px 30px 25px 25px;
}
/* Our Partner end */

/* footer start */
#footer {
    margin-top: -100px;
    background-color: #222222;
    clip-path: polygon(0% 13%, 100% 0%, 100% 100%, 0% 100%);
}
#footer .container .logo {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#footer .container .contect-info {
    display: flex;
}
#footer .container .contect-info .contect {
    width: 300px;
    text-align: center;
}
#footer .container .contect-info .con-1 {
    border-right: 1px solid #555555;
}
#footer .container .contect-info .con-2 {
    border-right: 1px solid #555555;
}
#footer .container .contect-info .con-3 {
    border-right: 1px solid #555555;
}
#footer .container .contect-info .contect i {
    background-color: #fec600;
    height: 30px;
    width: 30px;
    color: #000000;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    margin-bottom: 20px;
}
#footer .container .contect-info .contect p {
    margin: 0 auto;
    width: 240px;
    height: 44px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
#footer .container .contect-info .con-3 p {
    width: 250px;
}
#footer .container .follow {
    margin-top: 60px;
    text-align: center;
}
#footer .container .follow h4 {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
}
#footer .container .follow .f-icon {
    display: flex;
    justify-content: center;
    gap: 60px;
}
#footer .container .follow .f-icon i {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
    color: #353535;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    padding-top: 8px;
    transition: all .2s linear;
}
#footer .container .follow .f-icon i:hover {
    background-color: #fec600;
}
/* footer end */

/* copy right holder start */
#copyright {
    background-color: #353535;
}
#copyright .container {
    display: flex;
    justify-content: center;
}
#copyright .container h4 {
    padding: 20px 3px;
    font-size: 13px;
    line-height: 24px;
    color: #f1f1f1;
    font-weight: 400;
}
#copyright .container :nth-child(2) {
    color: #fec600;
}
/* copy right holder end */